body {  
    font-family: Arial, sans-serif;  
    background-color: #f4f4f4;  
    margin: 0;  
    padding: 20px;  
}  

.the-content {  
    max-width: 500px;  
    margin: auto;  
    background: white;  
    padding: 20px;  
    border-radius: 8px;  
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);  
}

.the-content2 {  
    max-width: 500px;  
    margin: auto; 
    margin-top: 20px; 
    background: white;  
    padding: 20px;  
    border-radius: 8px;  
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);  
}

h1 {  
    text-align: center;
    font-family: 'Times New Roman', Times, serif;  
}  

h2 {
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
}

input[type="text"] {  
    width: 70%;  
    padding: 10px;  
    border: 1px solid #ddd;  
    border-radius: 4px;  
}  

button {  
    padding: 10px;  
    margin-left: 5px;  
    border: none;  
    background-color: rgb(70, 70, 206);  
    color: white;  
    border-radius: 4px;  
    cursor: pointer;  
}  

button:hover {  
    background: black;  
}  

ul {  
    list-style-type: none;  
    padding: 0;  
}  

li {  
    display: flex;  
    justify-content: space-between;  
    padding: 10px;  
    border-bottom: 1px solid #ddd;  
}  

li.completed {  
    text-decoration: line-through;  
    color: gray;  
}